doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style 
            include ./email.css
            
    body 
        h2 Restablecer Contrase単a
        p Hola, has solicitado restablecer tu contrase単a. Haz click en el siguiente enlace.
        a(href=`${resetUrl}`) Restablecer contrase単a
        p Este enlace es temporal, si caduca vuelve a solicitarlo.
        p Si no puedes acceder a este enlace, visita #{resetUrl}
        p Si no has solicitado restablecer tu contrase単a, puedes ignorar este enlace.